.contact_me_container{
    /* border: solid 2px; */
    width: 70%;
   height: fit-content;
    border: 2px solid green;
    padding: 2%;
}
.contact_me_heading{
    border: 2px solid green;
    font-size: 3rem;
    position: relative;
    left: 35%;
    /* border: solid 2px; */
    font-family: 'Abril Fatface';
    width: fit-content;
}
.contact_methods{
    display: flex;
    border: 2px solid green;
    justify-content: center;
    align-items: center;
    /* border: solid 2px; */
    width: fit-content;
    padding: 1%;
}
.data_container{
    /* border: solid 2px; */
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.contact_details{
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    width: 50%;
    /* border: solid 2px; */
    align-items: center;
}
.name_email{
    display: flex;
    flex-direction: row;
    padding: 3%;
    border: 2px solid green;
    justify-content: space-between;
    width: 100%;
    height: 30%;
}
.name_ip,.email_ip{
    background-color:  #c2c2c280;
    border: none;
    border: 2px solid green;
    border-radius: 5%;
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.message{
    border: 2px solid green;
    background-color:  #c2c2c280;
    border: none;
    border-radius: 5%;
    width: 100%;
    height: 150px;
    text-align: center;
}
.submit{
    height: 10%;
    width: 20%;
    font-size: 1em;
    font-family: "poppins",sans-serif;
    font-weight:bold;
    color: white;
    border: 2px solid green;
    background-color: rgb(83, 240, 83);
    border: none;
    border-radius: 8%;
    margin-top: 2%;
    outline: none;
    cursor: pointer;

}