.contact_me_container {
  /* border: solid 2px; */
  width: 70%;
  height: fit-content;
  /* border: 2px solid green; */
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact_me_heading {
  /* border: 2px solid green; */
  font-size: 3rem;
  /* border: solid 2px; */
  font-family: "Abril Fatface";
  width: fit-content;
}
.contact_methods {
  display: flex;
  /* border: 2px solid green; */
  justify-content: center;
  align-items: center;
  /* border: solid 2px; */
  width: 45%;
  padding: 1%;
}
.data_container {
  /* border: solid 2px; */
  /* border: 2px solid green; */
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.contact_details {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
}
.name_email {
  display: flex;
  flex-direction: row;
  padding: 3%;
  /* border: 2px solid green; */
  justify-content: space-between;
  width: 100%;
  height: 30%;
}
.name_ip,
.email_ip {
  background-color: #c2c2c280;
  border: none;
  /* border: 2px solid green; */
  border-radius: 9px;
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.message {
  /* border: 2px solid green; */
  background-color: #c2c2c280;
  border: none;
  border-radius: 9px;
  width: 100%;
  height: 150px;
  text-align: center;
}
.submit {
  height: 10%;
  width: 20%;
  font-size: 1em;
  font-family: "poppins", sans-serif;
  font-weight: bold;
  color: white;
  /* border: 2px solid green; */
  background-color: rgb(83, 240, 83);
  border: none;
  border-radius: 9px;
  margin-top: 2%;
  outline: none;
  cursor: pointer;
}
.error {
  border: 1px solid red;
  background-color: rgb(255, 223, 223);
}

.submit button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}
@media all and (min-width: 200px) and (max-width: 350px) {
  .contact_me_container {
    flex-direction: column;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .data_container {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    width: 100%;
  }
  .contact_me_heading {
    font-size: 2rem;
    font-family: "Abril Fatface";
    width: fit-content;
  }
  .contact_methods {
    display: flex;
    flex-wrap: wrap;
    flex: 10% 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1%;
  }
  .method {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    margin-left: 3%;
  }
  .icon {
    padding: 0px;
    font-size: 1.5em;
  }
  .details_cnt {
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .address {
    color: #848484;
    font-size: 10px;
    padding: 0%;
    margin-top: 0%;
  }
  .contact_details {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .submit {
    height: 10%;
    width: 25%;
    font-size: 0.8em;
    font-family: "poppins", sans-serif;
    font-weight: bold;
    border-radius: 9px;
    padding: 1%;
  }
  .name_ip,
  .email_ip {
    font-size: 10px;
    padding: 5%;
  }
  .message {
    font-size: 10px;
  }
  .method_holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
@media all and (min-width: 351px) and (max-width: 450px) {
  .contact_me_container {
    flex-direction: column;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .data_container {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    width: 100%;
  }
  .contact_me_heading {
    font-size: 2rem;
    font-family: "Abril Fatface";
    width: fit-content;
  }
  .contact_methods {
    display: flex;
    flex-wrap: wrap;
    flex: 10% 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1%;
  }
  .method {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    margin-left: 3%;
  }
  .icon {
    padding: 0px;
    font-size: 1.5em;
  }
  .details_cnt {
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .address {
    color: #848484;
    font-size: 10px;
    padding: 0%;
    margin-top: 0%;
  }
  .contact_details {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .submit {
    height: 10%;
    width: 25%;
    font-size: 0.8em;
    font-family: "poppins", sans-serif;
    font-weight: bold;
    border-radius: 9px;
    padding: 1%;
  }
  .name_ip,
  .email_ip {
    font-size: 10px;
    padding: 5%;
  }
  .message {
    font-size: 10px;
  }
  .method_holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
