.option_list{
    color: black;
    font-weight:bolder;
    text-transform: capitalize;
    padding: 10px 10px;
    letter-spacing: 5px;
    margin-top: 20px;
    font-size: large;
    font-family: 'Abril Fatface', cursive;
    border: 2px solid green;
    cursor: pointer;
}
.option{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: solid 2px black; */
    border: 2px solid green;
    margin-right: 15px;
}
.underline_1{
    width: 63px;
    border: 2px solid green;
    border: solid 2px #5ED9BC;
    transition: ease-in 1s;
}
.underline_2{
    width: 124px;
    border: solid 2px #5ED9BC;
    border: 2px solid green;
    transition: ease-in 1s;

}
.underline_3{
    width: 74px;
    border: solid 2px #5ED9BC;
    border: 2px solid green;
    transition: ease-in 1s;

}
.underline_4{
    width: 116px;
    border: solid 2px #5ED9BC;
    border: 2px solid green;
    transition: ease-in 1s;

}
.options_container{
    display: flex;
    border: 2px solid green;
    flex-direction: column;
}