.Skills_holder {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  width: 70%;
  position: relative;
  z-index: 1;
}

@media all and (min-width: 200px) and (max-width: 350px) {
  .Skills_holder {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
}
@media all and (min-width: 351px) and (max-width: 450px) {
  .Skills_holder {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
}
