.skill_card_holder {
  display: flex;
  flex-direction: column;
  flex: 35%;
  box-sizing: border-box;
  margin: 15px;
  height: 210px;
  width: 140px;
  overflow: hidden;
  border-radius: 18px;
  cursor: pointer;
}
.skill_name {
  width: 100%;
  height: 20%;
  border: 2px solid rgb(255, 103, 47);
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 0px 0px 18px 18px;
  align-items: center;
}
.skill_name h2 {
  margin: 0;
  padding: 0%;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 5px;
  font-size: 25px;
}
.Image_details {
  width: 100%;
  height: 80%;
  background-color: rgb(255, 103, 47);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}
.skill_image {
  /* transition: 1s ease; */
  z-index:10;
  width: 40%;
  position: relative;
}
.details {
  width: 90%;
  height: 80%;
  border: none;
  /* padding: 5%; */
}
.details p {
  border: none;
  font-size: 20px;
  line-height: 30px;
  font-family: "Supermercado One", cursive;
  /* letter-spacing: 2px; */
}
.SkillInfo_data p {
  font:800;
  font-size: 13px;
}
.SkillInfo_data {
  height: 100%;
  position: relative;
  width: 100%;
  /* z-index: 200; */
  padding: 2%;
  color: black;
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.openDt {
  animation: Open 0.4s ease-in-out forwards;
}
@keyframes Open {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 1;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.closeDt {
  animation: Close 0.4s ease-in-out forwards;
}
@keyframes Close {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  50% {
    opacity: 0.8;
    transform: translateX(60%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
.openImg {
  animation: OpenImg 0.4s ease-in-out forwards;
}
@keyframes OpenImg {
  0% {
    opacity: 0;
    /* transform: translateX(-100%); */
  }
  50% {
    opacity: 1;
    /* transform: translateX(20%); */
  }
  100% {
    opacity: 1;
    /* transform: translateX(0%); */
  }
}
.closeImg {
  animation: CloseImg 0.4s ease-in-out forwards;
}
@keyframes CloseImg {
  0% {
    opacity: 1;
    /* transform: translateX(0%); */
  }
  50% {
    opacity: 0.8;
    /* transform: translateX(60%); */
  }
  100% {
    opacity: 0;
    /* transform: translateX(-100%); */
  }
}
@media all and (min-width: 200px) and (max-width: 350px) {
  .skill_card_holder {
    height: 138px;
    width: 140px;
  }
  .skill_image {
    width: 45%;
  }
  .skill_name {
    height: 24%;
  }
  .skill_name h2 {
    font-size: 16px;
  }
}
@media all and (min-width: 351px) and (max-width: 450px) {
  .skill_card_holder {
    height: 138px;
    width: 140px;
  }
  .skill_image {
    width: 45%;
  }
  .skill_name {
    height: 24%;
  }
  .skill_name h2 {
    font-size: 16px;
  }
}
