/* .skill_card{
    display: flex;
    flex-direction: column;
    flex: 40%;
    box-sizing: border-box;
    margin: 20px;
    height: 190px;
    width: 200px;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.skill_card_img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}
.skill_img{
    width: 60%;
    transition: 0.5s ease-in-out;
}

.skill_card_details{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.skill_card_header{
    padding: 0;
    margin: 0;
   transition: 0.5s ease-in-out;
   font-family: 'Bebas Neue', cursive;
   letter-spacing: 5px;
}
.skill_card_level{
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: left;
}
.skill_card_level li{
    list-style: none;
    font-size: 15px;
    line-height: 100%;
    font-family: 'Supermercado One', cursive;
}
@media all  and (min-width:200px) and (max-width:300px)
{
    .skill_card {
        display: flex;
        flex-direction: column;
        flex: 30% 1;
        box-sizing: border-box;
        margin: 9px;
        height: 124px;
        width: 170px;
    }
    .skill_card_header {
        padding: 0;
        font-size: 15px;
    }


} */

.skill_card_holder{
    display: flex;
    flex-direction: column;
    flex: 35%;
    box-sizing: border-box;
    margin: 15px;
    height: 210px;
    width: 140px;
    overflow: hidden;
    border-radius: 18px;
    cursor: pointer;

}
.skill_name{
    width: 100%;
    height: 20%;
    border: 2px solid rgb(255, 103, 47);
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 18px 18px;
    align-items: center;
}
.skill_name h2{
    margin: 0;
    padding: 0%;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    font-size: 25px;
}
.Image_details{
    width: 100%;
    height: 80%;
    background-color: rgb(255, 103, 47);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}
.skill_image{
    transition: 1s ease;
    width: 40%;
}
.details{
    width: 90%;
    height: 80%;
    border: none;
    /* padding: 5%; */
}
.details p{
    border: none;
    font-size: 20px;
	line-height: 30px;
    font-family: 'Supermercado One', cursive;
    /* letter-spacing: 2px; */
}
