.chat {
  position: fixed;
  bottom: 5%;
  left: 2%;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px white;
  /* border: 2px solid yellow; */
  width: 3.5em;
  height: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
  cursor: pointer;
  background: green;
  padding: 2.5%;
  z-index: 10;
}
.chat a {
  text-decoration: none;
  list-style: none;
  transform: translateY(5px);
  font-size: 40px;
  /* border: 2px solid green; */
  color: white;
}

@media all and (min-width: 200px) and (max-width: 350px) {
  .chat {
    bottom: 13%;
    left: 3%;
    width: 2.5em;
    height: 2.5em;
  }
  .chat a {
    font-size: 30px;
  }
}
