.Thnx{
    height: fit-content;
    max-width: 250px;
    border-radius: 9px;
    border: 2px solid green;
    background: honeydew;
    /* border: solid 2px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(300px);
    box-shadow: 2px 2px 2px 2px gray;
    padding: 20px;
    transition: 1s;
}
.Indi_thnx{
    height: 150px;
    border: 2px solid green;
    width: 150px;
    border: solid 3.5px orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Msg{
    text-align: center;
    border: 2px solid green;
    font-family: 'Dongle', sans-serif;
    font-size: 1.7em;
    font-weight: bold;
}
.check_icon{
    color: orange;
    border: 2px solid green;
    font-size: 4.3em;
    
}
.close_bt{
    font-size: 2em;
    position: absolute;
    top: 3px;
    border: 2px solid green;
    right: 3px;
    cursor: pointer;
    color: rgb(92, 92, 92);
}
.close_bt:hover{
    color: rgb(245, 158, 158);
}
.modal{
    position: fixed;
  top: 35vh;
  left: 20%;
  width: 80%;
    transition: 1s;
    z-index: 30000;
    overflow: hidden;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    transition: 1s;
    background: rgba(0, 0, 0, 0.75);
  }