.navigation_container {
  width: 33%;
  height: 50%;
  border-radius: 40px;
  background: rgb(189, 189, 189);
  position: absolute;
  top: 20%;
  right: 5%;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: 0.5s ease;
  overflow: hidden;
  flex-direction: row;
}
.shrink {
  width: 70px;
  height: 70px;
  background: #5ed9bc;
}
.open_close_bt {
  box-shadow: 1px 1px 1px 1px gray;
  height: 90%;
  width: 60px;
  background: white;
  border-radius: 50%;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
  cursor: pointer;
}
.icon_slider {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
}
.menu_options {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}
.shrink_options {
  width: 0px;
}
.menu_options ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}
.HomePageMenu ul li {
  margin: 0px 23px 0px 23px;
  font-size: 15px;
}
.KnowMoreMenu ul li {
  margin: 0px 13px 0px 14px;
  font-size: 14px;
}
.menu_options ul li {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.menu_options ul a {
  list-style: none;
  text-decoration: none;
  color: black;
}
.menu_options ul li .icon_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 225%;
  transition: 0.5s;
}

.active {
  color: rgb(248, 97, 97);
}
@media all and (min-width: 200px) and (max-width: 350px) {
  .navigation_container.shrink {
    width: 44px;

    height: 44px;
    background: #5ed9bc;
  }
  .menu_options.shrink_options {
    width: 0px;
  }
  .open_close_bt {
    height: 37px;
    width: 37px;
    margin-left: 3px;
  }
  .icon_slider {
    font-size: 28px;
  }
  .menu_options {
    width: 85%;
    height: 100%;
  }
  .menu_options ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    right: 9%;
    top: 4%;
    position: relative;
  }
  .menu_options ul li {
    font-size: 10px;
    margin: 0;
  }
  .navigation_container {
    width: 96%;
    height: 80%;
    top: 17%;
    right: 3%;
  }
  .menu_options ul li .icon_name {
    font-size: 280%;
  }
}

@media all and (min-width: 351px) and (max-width: 450px) {
  .navigation_container.shrink {
    width: 44px;

    height: 44px;
    background: #5ed9bc;
  }

  .menu_options.shrink_options {
    width: 0px;
  }
  .open_close_bt {
    height: 37px;
    width: 37px;
    margin-left: 3px;
  }
  .icon_slider {
    font-size: 28px;
  }
  .menu_options {
    width: 85%;
    height: 100%;
  }
  .menu_options ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    right: 2%;
    top: 4%;
    position: relative;
  }
  .menu_options ul li {
    font-size: 9px;
    margin: 0;
  }
  .navigation_container {
    width: 96%;
    height: 80%;
    top: 17%;
    right: 3%;
  }
  .menu_options ul li .icon_name {
    font-size: 280%;
  }
}
@media all and (min-width: 451px) and (max-width: 650px) {
  .navigation_container.shrink {
    width: 52px;

    height: 52px;
    background: #5ed9bc;
  }
  .menu_options.shrink_options {
    width: 0px;
  }
  .open_close_bt {
    height: 45px;
    width: 45px;
    margin-left: 3px;
  }
  .icon_slider {
    font-size: 28px;
  }
  .menu_options {
    width: 85%;
    height: 100%;
  }
  .menu_options ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    right: 2%;
    top: 4%;
    position: relative;
  }
  .menu_options ul li {
    font-size: 11px;
    margin: 0;
  }
  .navigation_container {
    width: 96%;
    height: 80%;
    top: 17%;
    right: 3%;
  }
  .menu_options ul li .icon_name {
    font-size: 280%;
  }
}

@media all and (min-width: 651px) and (max-width: 750px) {
  .navigation_container {
    width: 50%;
    height: 50%;
    top: 20%;
    right: 5%;
  }
  .open_close_bt {
    margin-left: 2px;
  }
  .shrink {
    width: 65px;

    height: 65px;
  }
  .HomePageMenu ul li {
    margin: 0px 18px 0px 17px;
    font-size: 12px;
  }
  .menu_options ul {
    margin: 0px 40px 0px 0px;
  }
}
@media all and (min-width: 751px) and (max-width: 900px) {
  .navigation_container {
    width: 50%;
    height: 65%;
    top: 20%;
    right: 5%;
  }
  .open_close_bt {
    width: 60px;
    height: 60px;
    margin-left: 2px;
  }
  .shrink {
    width: 65px;
    height: 65px;
  }
  .HomePageMenu ul li {
    margin: 0px 18px 0px 17px;
    font-size: 12px;
  }
  .menu_options ul {
    margin: 0px 40px 0px 0px;
  }
}
