@import url("https://fonts.googleapis.com/css?family=Montserrat");

h3 {
  margin: 2% 0;
  color: indigo;
}

h6 {
  margin: 2% 0;
  text-transform: uppercase;
  color: rgb(0, 153, 255);
}

.intro_me {
  font-size: 20px;
  line-height: 100%;
  font-family: "Dancing Script", cursive;
  letter-spacing: 2px;
  /* background-color: rgb(195, 195, 195); */
  box-shadow: -1px 1px 1px 1px gray;
  z-index: 2000;
  color: rgb(44, 44, 44);
  padding: 2%;
  border-radius: 5%;
  /* border: 2px solid green; */
}
.card-container a {
  list-style: none;
  text-decoration: none;
  width: 40%;
  margin: 10px;
}

.card-container {
  /* border: 2px solid green; */
  background-color: white;
  border-radius: 5%;
  box-shadow: 0px 10px 20px -30px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  width: 100%;
  text-align: center;
  padding: 3%;
  display: flex;
  justify-content: center;
  z-index: 2000;
  flex-direction: column;
  align-items: center;
  height: max-content;
}

.card-container .round {
  /* border: 2px solid green; */
  border: 1px solid #03bfcb;
  border-radius: 50%;
  padding: 7px;
  width: 30%;
  z-index: 2000;
}
.know_more p {
  color: white;
  font-weight: bold;
  margin: 5px;
  transition: 0.3s;
}
.know_more.over p {
  color: #03bfcb;
}
.know_more.over {
  background-color: white;
  /* display: none; */
  border: 2px solid #03bfcb;
  color: #03bfcb;
}
.fontc {
  color: #03bfcb;
}
.tilt {
  width: 37%;
  display: flex;
  justify-content: center;
}
.know_more {
  transition: 0.3s ease-in-out all;
  width: 100%;
  height: fit-content;
  padding: 1%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 2px solid green; */
  align-items: center;
  cursor: pointer;
  z-index: 2000;
  background-color: #03bfcb;
  border-radius: 20px;
}
.side_arrow {
  transform: translateX(5px);
  transform: translateY(2px);
  font-size: 25px;
  cursor: pointer;
  /* border: 2px solid green; */
  z-index: 2000;
}
.know_more .side_arrow a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  transition: 0.3s;
  margin: 5px;
  height: fit-content;
  transition: 0.3s ease-in-out;
}

@media all and (min-width: 200px) and (max-width: 350px) {
  .card-container {
    width: 90%;
    left: 5%;
    background-color: transparent;
  }
  .tilt {
    width: 100%;
  }
  .card-container .round {
    width: 30%;
    background-color: transparent;
  }
  .intro_me {
    font-size: 15px;
    color: black;
    margin: 0;
    font-weight: 600;
  }
  .know_more {
    color: white;
  }
  h6 {
    color: white;
  }
}

@media all and (min-width: 351px) and (max-width: 450px) {
  .card-container {
    width: 90%;
    left: 5%;
    background-color: transparent;
  }
  .tilt {
    width: 100%;
  }
  .card-container .round {
    width: 30%;
    background-color: transparent;
  }
  .intro_me {
    font-size: 15px;
    color: black;
    margin: 0;
    font-weight: 600;
  }
  .know_more {
    color: white;
  }
  h6 {
    color: white;
  }
}
