.KmHeader {
  position: fixed;
  z-index: 100;
  background: white;
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  padding: 2%;
  box-shadow: 4px 5px 5px gray;
  border-radius: 0px 0px 15px 15px;
}
/* .KmLogo{
    position: relative;
    transform: translateX(100px);
} */
