.end {
  font-size: 15px;
  letter-spacing: 2px;
  color: white;
  font-weight: 800;
  text-transform: capitalize;
  /* border: 2px solid green; */
  font-family: "Mochiy Pop P One", sans-serif;
}
@media all and (min-width: 200px) and (max-width: 350px) {
.end{
  font-size: 8px;
}
}