.end {
  font-size: 100%;
  letter-spacing: 2px;
  color: white;
  font-weight: 800;
  text-transform: capitalize;
  border: 2px solid green;
  font-family: "Mochiy Pop P One", sans-serif;
}
.credits {
  border: 2px solid green;
  position: absolute;
  bottom: 1%;
  left: 40%;
}
